gradio==6.0.0
pydub==0.25.1
playwright==1.45.0
python-dotenv==1.0.1
audio-denoiser==0.1.2
torch>=2.6.0
torchaudio>=2.6.0
torchcodec>=0.8.1
soundfile==0.12.1
noisereduce==3.0.2
openai-whisper
numpy<2.0.0
